@media screen and (max-width:1024px) {

    #welcome{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #welcome *{
      margin: 10px 0;
    }

    #hwDesktop{
      display: none;
    }

    #hwMobile{
      display: block;
    }

}

@media screen and (max-width:771px) {




    form {
        width: 100%;
    }

    input, textarea{
      width: 100%;
    }

}
