

#noscriptDesktop{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}


#entrance {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: ease;
    transition: ease;
}


#grandTitre {
    display: none;
    font-family: 'Satisfy', sans-serif;
    font-size: 5em;
}

#grandTitre a, #petitTitre a {
    color: #D180C0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-animation: animtitre 5s infinite;
            animation: animtitre 5s infinite;
}


@-webkit-keyframes animtitre {
    from {
        color: #61AFFC;
    }
    50% {
        color: #009999;
    }
    to {
        color: #61AFFC;
    }
}


@keyframes animtitre {
    from {
        color: #61AFFC;
    }
    50% {
        color: #009999;
    }
    to {
        color: #61AFFC;
    }
}





/*C'est pour espacer chaque element des div sauf le dernier*/









input, textarea {
    background-color: rgba(0, 0, 0, .4);
    color: white;
    border: 0px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    width: 50%;
    resize: none;
    font-size: 0.90em;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    outline: none;
}

form{
  height: 100%;
  width: 100%;
}

textarea {
    height: 200px;
}


input {
    height: 30px;
}

input:focus, textarea:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

#erreurForm {
    display: none;
    font-size: 0.9em;
    font-style: italic;
}

#okForm {
    height: 17px;
}

#reponseMsg {
    display: none;
}

#sendbutton {
    border: 0;
    background-color: blue;
    color: white;
    height: 30px;
    width: 100px;
    font-size: 1em;
    border-radius: 3px;
    -webkit-transition: all 1s;
    transition: all 1s;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.ajaxloading{
  animation: animSend 0.6s infinite;
}

@keyframes animSend {
    from {
        background: #13E3E3;
    }
    50% {
        background: #009999;
    }
    to {
        background: #13E3E3;
    }
}

.downloadlink:hover, #sendbutton:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sendbutton:focus {
    background-color: #006666;
    color: #66ffff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (min-width:1025px) {

  .pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .pace-inactive {
    display: none;
  }

  .pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }
}
